.kontsumoak{

    h3{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .aurrekoa{
        float: left;
    }
    .hurrengoa{
        float: right;
    }
    .hurrengoa, .aurrekoa{
        max-width: 25%;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
    }
}
