.lineak{

    ul{ 
        list-style-type: none;
        padding: 0;
    }
    .CircularProgressbar {
        width: 100%;
        vertical-align: middle;

        .CircularProgressbar-path {
            stroke: var(--primary-color);
            stroke-linecap: round;
            transition: stroke-dashoffset 0.5s ease 0s;
        }

        .CircularProgressbar-trail {
            stroke: #d6d6d6;
            stroke-linecap: round;
        }

        .CircularProgressbar-text {
            fill: var(--primary-color);
            font-size: 20px;
            dominant-baseline: middle;
            text-anchor: middle;
        }
        .CircularProgressbar-background {
            fill: #d6d6d6;
        }
    }
}
